@use "../../styles/variables";
@use "../../styles/mixins";

.title {
  font-size: map-get(variables.$text, larger);
}

.blurb,
.title,
.items {
  margin: 0;
}

.blurb {
  color: var(--color--heading);
  font-size: map-get(variables.$text, smaller);
}

.items {
  margin-bottom: auto;
  grid-gap: 0.025in;
  display: grid;
  list-style-type: none;
  display: flex;
  padding: 0;
  font-size: map-get(variables.$text, small);
}

.item {
  margin-right: 0.25in;
}

.link {
  @include mixins.transition(background-color);
  border-radius: map-get(variables.$unit, tad);
  padding: map-get(variables.$unit, tad) map-get(variables.$unit, tad);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: inherit;

  &:hover,
  &:focus {
    background-color: var(--color--text-high);
  }

  &:active {
    background-color: var(--color--text-high-active);
  }
}

.icon {
  margin-right: 0.05in;
  width: map-get(variables.$text, small);
  color: var(--color--primary);
  flex-shrink: 0;
  height: auto;
}
