@use "../../styles/variables";
@use "sass:math";

.header {
  display: flex;
}

.dates,
.title,
.subtitle {
  margin: 0;
}

.title {
  font-size: map-get(variables.$text, smaller) !important;
  padding-right: map-get(variables.$unit, container);
  margin-right: auto;
  color: var(--color--primary);
}

.dates {
  margin: math.div(map-get(variables.$unit, tad), 2) 0
    map-get(variables.$unit, tad);
  font-size: map-get(variables.$text, small);
  font-weight: bold;
  text-align: end;
  flex-shrink: 0;
}

.subtitle {
  margin-top: map-get(variables.$unit, tad) * -1;
  margin-bottom: map-get(variables.$unit, tad);
  font-size: map-get(variables.$text, smaller);
  color: var(--color--heading);
  font-weight: bold;
}

.content {
  grid-template-columns: max-content auto;
  grid-gap: 0.1in 0.15in;
  display: grid;

  ul {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    gap: 0.1in;
    padding: 0;
    margin: 0;
    font-size: map-get(variables.$text, small);
  }
}

.label {
  font-size: map-get(variables.$text, small);
  color: var(--color--text);
  margin: 0;
}

.item {
  font-size: map-get(variables.$text, small);
}
